/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@font-face {
	font-family: 'Ubuntu Mono';
	src: url('/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf'), url('/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf'), url('/fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf');
}
:root [data-theme='app-theme'] {
    --theme-font-family-base: 'Ubuntu Mono', monospace;
    --theme-font-family-heading: 'Ubuntu Mono', monospace;
}
*/
                        	